extends layout

block content
   #titulo
     h1= title
  
  
   #wrapper
     input.numJugadores#numJugadores(type="number",placeholder="Número de Jugadores")
     button#enviarJugadores.enviarJugadores Enviar